* {
    box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
    body {
        width: 480px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        width: 960px;
    }
}